<div class="atm-row">
	<div class="atm-nav atm-nav-btn" id="submit">Submit</div>
</div>
<div class="atm-row">
	<div class="atm-nav atm-nav-btn" id="cancel">Cancel</div>
</div>
<div class="atm-row">
	<div id="atm-spacer-row">&nbsp;</div>
</div>
<div class="atm-row">
	<div class="atm-nav atm-nav-btn" id="deposit">Deposit</div>
</div>
<div class="atm-row">
	<div class="atm-nav atm-nav-btn" id="withdrawal">Withdrawal</div>
</div>
<div class="atm-row">
	<div class="atm-nav atm-nav-btn" id="logout">Logout</div>
</div>